*

!durian_classifier_device/
!durian_classifier_device/app.py
!durian_classifier_device/config.py
!durian_classifier_device/requirements.txt
!durian_classifier_device/requirements-docker.txt
!durian_classifier_device/.env.example
!durian_classifier_device/README.md
!durian_classifier_device/config/
!durian_classifier_device/config/**
!durian_classifier_device/hardware/
!durian_classifier_device/hardware/**
!durian_classifier_device/inference/
!durian_classifier_device/inference/**
!durian_classifier_device/services/
!durian_classifier_device/services/**
!durian_classifier_device/utils/
!durian_classifier_device/utils/**
!durian_classifier_device/scripts/
!durian_classifier_device/scripts/**
!durian_classifier_device/tests/
!durian_classifier_device/tests/**

!model/
!model/MobileNetV1/
!model/MobileNetV1/mobilenetv1_best.keras
!model/model-audio.pt

**/__pycache__/
**/*.pyc
